.backgroundLayer {
    position: fixed !important;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    object-fit: cover;
}

.backgroundBlur, .backgroundMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backgroundBlur {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.backgroundMask {
    background-color: rgba(0, 0, 0, 0.4);
}

/* 淡入效果 */
.wallpaperFadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* 淡出效果 */
.wallpaperFadeOut {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    visibility: visible;
}

@keyframes fadeOut {
    from { opacity: 1; visibility: visible;}
    to { opacity: 0; visibility: hidden;}
}